.input-group {
  width: 323px;
  height: 36px;
}

/* .input-group.label-side {
  display: flex;
  align-items: center;
}

.input-group.label-side .input-wrapper {
  display: flex;
  align-items: center;
}

.input-group.label-side label {
  margin-right: 10px;
} */
