.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input-label {
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}

.required {
  color: red;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding: 5px;
}

.input-text {
  padding-left: 2.5em; /* Adjust based on icon size */
  padding-right: 2.5em;
}

.icon-before,
.icon-after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.icon-before {
  left: 0.5em;
}

.icon-after {
  right: 0.5em;
}

.input-hint {
  font-size: 12px;
  color: #666;
  margin-top: 5px;
}

.error .input-wrapper {
  border-color: red;
}

.input-extra-small {
  font-size: 10px;
  padding: 3px;
}

.input-small {
  font-size: 12px;
  padding: 5px;
}

.input-medium {
  font-size: 16px;
  padding: 10px;
}

.input-large {
  font-size: 20px;
  padding: 15px;
}

.input-extra-large {
  font-size: 24px;
  padding: 20px;
}

.input-text-left {
  text-align: left;
}

.input-text-right {
  text-align: right;
}

.input-text {
  width: 323px;
  height: 36px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px 25px;
}

.input-text:focus {
  border-color: #66afe9;
  outline: none;
}

.input-text.empty:focus,
.input-text.empty {
  border-color: red;
}

.input-text.empty:focus + .icon-before {
  color: red;
}
